* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 64, 0);
    background: linear-gradient(30deg, rgb(255, 94, 0) 0%, rgba(255, 211, 9, 1) 100%);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.analog-h {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.clock-analog {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.clock-analog img {
    width: 400px;
    z-index: 5;
    opacity: .7;
}

.analog {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;
}

.hr-analog {
    height: 60px;
    width: 10px;
    top: 92px;
}

.min-analog {
    height: 75px;
    width: 5px;
    top: 77px;
}

.sec-analog {
    height: 90px;
    width: 3px;
    top: 60px;
    background-color: rgb(255, 38, 0);
}

.digital-h {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.digital {
    width: 60px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    font-size: 30px;
}

.digital-h span {
    color: #fff;
    font-size: 50px;
}

.h1-digit {
    background: rgb(78, 0, 138);
    background: linear-gradient(30deg, rgba(78, 0, 138, 1) 0%, rgba(181, 70, 255, 1) 100%);
}

.min-digit {
    background: rgb(0, 122, 16);
    background: linear-gradient(30deg, rgba(0, 122, 16, 1) 0%, rgba(52, 227, 75, 1) 100%);
}

.sec-digit {
    background: rgb(0, 132, 159);
    background: linear-gradient(30deg, rgba(0, 132, 159, 1) 0%, rgba(71, 238, 255, 1) 100%);
}

.amorpm{
    font-size: 25px;
    color: #fff;
    margin-left: 15px;
    background: rgb(255, 38, 0);
    background: linear-gradient(30deg, rgba(255, 38, 0, 1) 0%, rgba(255, 96, 64, 1) 100%);
}

.shape1 {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: rgb(255, 38, 0);
    background: linear-gradient(30deg, rgba(255, 38, 0, 1) 0%, rgba(255, 96, 64, 1) 100%);
    position: absolute;
    left: 50%;
    bottom: 50%;
    z-index: -200;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.shape2 {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: rgb(0, 42, 138);
    background: linear-gradient(30deg, rgba(0, 42, 138, 1) 0%, rgba(9, 113, 255, 1) 100%);
    position: absolute;
    right: 50%;
    top: 50%;
    z-index: -300;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

@media screen and (max-width:500px) {
    .clock-analog {
        width: 280px;
        height: 280px;
    }

    .clock-analog img {
        width: 300px;
    }

    .shape1 {
        width: 160px;
        height: 160px;
    }

    .shape2 {
        width: 160px;
        height: 160px;
    }

    .hr-analog {
        top: 81px;
    }

    .min-analog {
        top: 67px;
    }

    .sec-analog {
        top: 50px;
    }
}